body {
    margin: 0;

    background-color: bisque;
}

#principal {
    display: flex;
    justify-content: center;

    border: 1px solid;

    box-sizing: border-box;
    width: auto;
    height: auto;
}

article {
    display: flex;
    flex-direction: column;

    border: 1px solid blueviolet;

    width: 80vw;
    height: auto;
}

.produtos {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

    border: 1px solid red;
    
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 20px;
    border: 1px solid green;
    border-radius: 10px;

    box-sizing: border-box;
    width: 120px;
    height: 120px;
}

    .produto a img {
        width: 60%;
        height: 60%;
    }

    .produto a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

@keyframes selecionar-produto {
    100% {
        background-color: rgb(130, 201, 130);
    }
}

@keyframes chat {
    100% {
        bottom: 30px;
        filter: drop-shadow(10px 10px #3019e0);
    }
}

.produto:hover {
    animation-name: selecionar-produto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

footer {
    background-color: dimgrey;

    width: 100%;
    
    position: fixed;
    left: 0;
    bottom: 0;
}

.chat {
    position: fixed;

    width: 20vmin;
    height: 20vmin;
    max-width: 100px;
    max-height: 100px;

    right: 5px;
    bottom: 20px;
}

.chat:hover {
    animation-name: chat;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}