nav {
    position: relative;
    
    width: 100%;
}

nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;

    
    overflow: auto;

    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: flex;
    border: 1px solid;
    width: 100%;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;

    display: block;

    text-wrap: nowrap;

    border: 1px solid;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: aquamarine;
}

.ativo {
    background-color: brown;
}