nav ul {
    list-style-type: none;

    overflow: scroll;

    margin: 0;
    padding: 0;

    display: flex;
}

nav ul li a {
    text-decoration: none;

    text-wrap: nowrap;

    padding-left: 10px;
    padding-right: 10px;
}